.container {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 4rem;
}

.textDiv {
  font-size: 18px;
  max-width: 500px;
}

.textDiv p {
  max-width: 300px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .title {
    margin-bottom: 0.5rem;
  }

  .textDiv p {
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
