.container {
  margin: 1rem 15%;
}

.main {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.overview {
  padding: 1.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.overviewItem {
  display: flex;
  margin: 1rem 0;
  gap: 10px;
}

.overviewItem p {
  margin: 1px;
  white-space: nowrap;
}

.overviewItemTxt {
  color: darkgray;
  font-size: 0.7rem;
}

.ingredientList {
  list-style-type: none;
  padding-inline-start: 1.5rem;
  text-indent: -2.8rem;
}

.ingredientList li {
  margin: 0.5rem 0;
}

.ingredientList input {
  margin: 0 1rem;
}

.instructionList {
  counter-reset: list-number;
  padding-inline-start: 1rem;
  list-style: none;
}

.instructionList li {
  margin: 1rem 0;
}

.instructionList li:before {
  counter-increment: list-number;
  content: counter(list-number);

  margin-right: 0.5rem;
  margin-left: -1.8rem;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  background: #f2994a;
  border-radius: 6px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 1rem;
  }
  .main {
    flex-direction: column-reverse;
  }
  .overview {
    font-size: smaller;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0.5rem;
  }
}
