.container {
  margin: 1rem;
}

.topBar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.topBar p {
  max-width: 400px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-items: center;
  justify-content: center;
}

.imgWrapper {
  max-width: 280px;
  display: flex;
  flex-direction: row;
}

.role {
  margin-left: auto;
  writing-mode: vertical-lr;
}

.name {
  margin-top: 0.5rem;
}

.teamPic2,
.teamPic5 {
  margin-top: 75px;
}

@media only screen and (max-width: 768px) {
  .container {
    font-size: smaller;
  }

  .topBar {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
  .teamPic5 {
    margin-top: auto;
  }

  .teamPic4,
  .teamPic6 {
    margin-top: 65px;
  }
}
